services:
  snapMULTI:
    build:
      context: .
      dockerfile: Dockerfile.snapMULTI
    image: snapMULTI:latest
    container_name: snapserver
    hostname: snapMULTI
    restart: unless-stopped
    network_mode: host
    security_opt:
      - apparmor:unconfined
    user: "1000:1000"
    volumes:
      - ./config/snapserver.conf:/etc/snapserver.conf:ro
      - ./config:/config
      - ./data:/data
      - ./audio:/audio
      - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket
    environment:
      - TZ=${TZ:-Europe/Berlin}
    command: ["snapserver", "-c", "/etc/snapserver.conf"]

  mpd:
    build:
      context: .
      dockerfile: Dockerfile.mpd
    image: mpd:latest
    container_name: mpd
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./audio:/audio
      - ${MUSIC_LOSSLESS_PATH}:/music/Lossless:ro
      - ${MUSIC_LOSSY_PATH}:/music/Lossy:ro
      - ./config/mpd.conf:/etc/mpd.conf:ro
      - ./mpd/playlists:/playlists
      - ./mpd/data:/data
    environment:
      - TZ=${TZ:-Europe/Berlin}
