services:
  snapcast:
    build:
      context: .
      dockerfile: Dockerfile.snapcast
    image: snapcast:latest
    container_name: snapserver
    hostname: snapcast
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./config:/config
      - ./data:/data
      - ./audio:/audio
    environment:
      - TZ=${TZ:-Europe/Berlin}

  mpd:
    build:
      context: .
      dockerfile: Dockerfile.mpd
    image: mpd:latest
    container_name: mpd
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./audio:/audio
      - ${MUSIC_LOSSLESS_PATH}:/music/Lossless:ro
      - ${MUSIC_LOSSY_PATH}:/music/Lossy:ro
      - ./mpd/config:/etc/mpd.d
      - ./mpd/playlists:/playlists
      - ./mpd/data:/data
    environment:
      - TZ=${TZ:-Europe/Berlin}
